#cart{
  min-height: calc(100vh - 78px);
  background:$lightBlue;
  text-align: center;
  h1{
    color:$white;
    font-weight: 500;
    font-size:36px;
    margin:0;
  }
  p{
    color:$white;
  }
  table{
    background: $white;
    border-radius: 5px;
    width: 100%;
    max-width: 555px;
    margin: 60px auto;
    display: inline-block;
    overflow: hidden;
    tbody{
      float: left;
      width: 100%;
    }
    tr{
      float:left;
      width: 100%;
      padding:20px;
      border-bottom:1px solid #eceff1;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      &.noB{
        border:0;
      }
      &.bgColor{
        background:#eceff1;
        -webkit-display: flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        a{
          @include orangePinkGradient();
          color:$white;
          margin-top: 0;
          padding:10px 0;
        }
      }
      td{
        &.price{
          font-weight: 700;
          font-size:16px;
          color:#292c47;
        }
        a{
          font-weight: 700;
          text-transform: uppercase;
          font-size:11px;
          color:#8e91a8;
          text-decoration: none;
          float:left;
          background: #eceff1;
          padding: 4px 10px;
          border-radius: 54px;
          margin-top: 8px;
        }
      }
      .name{
        font-size:16px;
        font-weight: 700;
        color:#292c47;
        float:left;
        width: 100%;
      }
      .about{
        font-size:14px;
        font-weight: 300;
        color:#292c47;
        float:left;
        width: 100%;
      }
      .flexContent{
        text-align: left;
        width: 100%;
      }
      .photo{
        width: 130px;
        height: 130px;
        background:$lightBlue;
        float:left;
        margin-right: 20px;
      }
      .content{
        font-size:24px;
        font-weight: 400;
        color:#292c47;
      }
      .totalPrice{
        font-size:24px;
        font-weight: 700;
        color:#292c47;
        float:right;
      }
    }
  }
}
