#contentTeam{
  h3{
    text-align: center;
    margin-bottom: 5px;
  }
  h2{
    color:$darkBlue;
    width: 100%;
    max-width: 590px;
    display: table;
    margin: 0 auto;
  }
  .projects{
    margin-top: 70px;
    .project{
      background:$white;
    }
  }
}

#contentSell{
  height: $footerSellHeight;
  @include orangePinkGradient();
  //Middle
  .wrapper{
    position: relative;
    z-index: 2;
    height:$headerHeight;
    .table{
      display: table;
      .middle{
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        height:$footerSellHeight;
        &.left{
          text-align: left;
        }
        &.right{
          text-align: right;
        }
      }
    }
  }
  h3{
    color:$white;
    margin-bottom: 10px;
  }
  h2{
    color:$white;
  }
  a{
    color: $pink;
    background: $white;
    margin-top: 25px;
    @include transitionOne(all 0.3s ease);
    &:hover{
      background: $grey;
    }
  }
}
