.article {
  padding: 30px 20px;
  max-width: 800px;
  margin: 0 auto;

  @include mediaquery("tablet") {
    padding: 50px 20px;
  }
}

.article__sell {
  background: map-get($color, "white");
  padding: 25px;
  box-shadow: 0 0 10px rgba(map-get($color, "black"), 0.15);
  border-radius: 3px;
}

.sell__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 45px 0 0;

  @include mediaquery("tablet") {
    flex-direction: row;
  }
}

.steps__action {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;

  &:first-of-type {
    padding: 0;

    @include mediaquery("tablet") {
      padding: 0 25px 0 0;

      .steps__overlay {
        padding: 0 25px 0 0;
      }
    }
  }

  &:last-of-type {
    padding: 25px 0 0;

    @include mediaquery("tablet") {
      border-left: 1px solid map-get($color, "light-grey");
      padding: 0 0 0 25px;

      .steps__overlay {
        padding: 0 0 0 25px;
      }
    }
  }

  p {
    margin: 10px 0;
  }
}

.steps__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(map-get($color, "white"), 0.90);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step__number {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darken(map-get($color, "light-grey"), 10%);
  font-weight: 400;
  color: darken(map-get($color, "light-grey"), 20%);

  &--completed {
    color: map-get($color, "white");
    background: map-get($color, "green");
    border: 1px solid map-get($color, "green");
    width: 60px;
    height: 60px;
  }

  &--otherStep {
    color: map-get($color, "white");
    background: darken(map-get($color, "light-grey"), 20%);
    border: 1px solid darken(map-get($color, "light-grey"), 20%);
    width: 60px;
    height: 60px;
  }
}

.step__title {
  padding: 15px 0 0;
  font-weight: 600;
}

.step__button {
  margin: 15px 0;
  display: table;
}

.step__form {
  margin: 20px 0 0;

  &--higher {
    margin: 30px 0 0;
  }
}
