.cart {
  width: 100%;
  max-width: 555px;
  background: map-get($color, "white");
  border-radius: 5px;
  margin: 50px 0;
  overflow: hidden;
}

.cart__product {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid map-get($color, "light-grey");

  @include mediaquery("tablet") {
    padding: 20px;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  &--checkout {
    justify-content: center;
    background: map-get($color, "light-grey");
  }
}

.product__image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background: map-get($color, "brand-primary-third");
  background-size: cover;
  background-position: center;

  @include mediaquery("tablet") {
    width: 130px;
    height: 130px;
  }
}

.product__content {
  color: map-get($color, "black");
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 80px);
  padding-left: 15px;
  text-align: left;

  @include mediaquery("tablet") {
    width: calc(100% - 130px);
    padding-left: 20px;
  }

  &--total {
    width: 100%;
    padding: 0;
  }
}

.product__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 117px;
  width: 100%;

  @include mediaquery("mobile") {
    max-width: 240px;
  }

  @include mediaquery("tablet") {
    max-width: 295px;
  }
}

.product__name {
  @include dotdotdot();
  font-size: 16px;
  font-weight: 600;
  width: 100%;

  @include mediaquery("tablet") {
    font-size: 18px;
  }

  &--big {
    font-size: 18px;

    @include mediaquery("tablet") {
      font-size: 20px;
    }
  }
}

.product__author {
  @include dotdotdot();
  font-size: 12px;
  font-weight: 400;
  width: 100%;

  @include mediaquery("tablet") {
    font-size: 14px;
  }
}

.product__price {
  font-weight: 400;

  &--big {
    font-weight: 600;
    font-size: 18px;

    @include mediaquery("tablet") {
      font-size: 20px;
    }
  }
}
