.intro {
  @include linear-gradient-b(45deg, rgba(map-get($color, "brand-secondary"), 1), rgba(map-get($color, "brand-secondary-second"), 1));
  height: 178px;
  color: map-get($color, "white");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @include mediaquery("tablet") {
    height: 280px;
  }

  &--blue {
    background: map-get($color, "brand-primary-third");
  }

  &--cart {
    background: map-get($color, "brand-primary-second");
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mediaquery("tablet") {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.intro__title {
  margin-bottom: 5px;
  width: 100%;
  color: map-get($color, "white");
}

.intro__subtitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  width: 100%;
}

.intro__icon {
  width: 60px;
  margin: 30px 0;
  fill: map-get($color, "white");
  fill-opacity: 0.2;

  @include mediaquery("tablet") {
    width: 90px;
  }
}
