.media {
  @include maxwidth(50px);
  background: map-get($color, "white");
  display: flex;
  flex-direction: column;

  @include mediaquery("tablet") {
    flex-direction: row;
  }

  &--gradient {
    @include linear-gradient-b(45deg, rgba(map-get($color, "brand-secondary"), 1), rgba(map-get($color, "brand-secondary-second"), 1));
  }

  &--grey {
    background: map-get($color, "light-grey");
  }
}

.media__item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: map-get($color, "white");

  @include mediaquery("tablet") {
    width: 50%;
    height: 350px;
  }

  h2 {
    margin: 10px 0 30px;
    max-width: 280px;
    width: 100%;
    font-weight: 300;

    @include mediaquery("tablet") {
      max-width: 600px;
      font-size: 30px;
    }
  }
}

.media__svg {
  width: 100px;
  margin-bottom: 25px;

  @include mediaquery("tablet") {
    width: 250px;
    margin-bottom: 0;

    path {
      stroke-width: 1px;
    }
  }

  @include mediaquery("desktop") {
    width: 300px;
  }

  path,
  circle {
    fill: map-get($color, "light-grey");
  }
}
