.post {
  @include maxwidth(30px);

  @include mediaquery("tablet") {
    @include maxwidth(50px);
    display: flex;
    justify-content: space-between;
  }
}

.post__article {
  width: 100%;

  @include mediaquery("tablet") {
    width: 70%;
    padding: 0 20px 0 0;
    border-right: 1px solid darken(map-get($color, "white"), 8%);
  }
}

.post__aside {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: map-get($color, "white");
  padding: 15px 20px;
  border-top: 1px solid darken(map-get($color, "white"), 7%);
  display: flex;
  justify-content: space-between;

  @include mediaquery("tablet") {
    position: relative;
    width: 30%;
    padding: 0 0 0 20px;
    display: block;
    border-top: 0;
  }
}

.post__button,
.post__form {
  width: 48%;
  display: block;
  font-size: 11px;
  min-width: 135px;

  @include mediaquery("tablet") {
    width: 100%;
    font-size: 13px;
    padding: 12px 20px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }
}

.post__form {
  @include mediaquery("tablet") {
    padding: 0;
  }
}

.post__price {
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translate(-50%);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: map-get($color, "white");
  border: 1px solid darken(map-get($color, "white"), 7%);
  color: map-get($color, "brand-primary");
  font-weight: 700;

  @include mediaquery("tablet") {
    position: relative;
    top: -10px;
    left: inherit;
    transform: none;
    width: auto;
    height: auto;
    border-radius: none;
    display: block;
    text-align: left;
    background: none;
    border: 0;
    font-size: 30px;
  }
}

.post__licence {
  display: none;
  margin-top: 0;

  @include mediaquery("tablet") {
    display: block;
  }
}

.post__image {
  width: 100%;
  border-radius: 5px;
}

.post__content {
  margin-top: 20px;
  display: block;

  p {
    margin: 25px 0;
    line-height: 26px;
  }
}
