* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 300;

  @include mediaquery("tablet") {
    font-size: 16px;
  }

  &.body--no-scroll {
    overflow: hidden;

    @include mediaquery("tablet") {
      overflow: auto;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: map-get($element, "header-height");

  @include mediaquery("tablet") {
    padding-top: 0;
  }
}

section {
  @include maxwidth(0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: map-get($color, "brand-primary");

  @include mediaquery("tablet") {
    font-size: 36px;
    line-height: 43px;
  }
}

h2 {
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  font-weight: 400;

  @include mediaquery("tablet") {
    font-size: 26px;
    line-height: 33px;
  }
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

a {
  color: map-get($color, "brand-secondary-second");
  font-weight: 600;

  &.white {
    color: map-get($color, "white");
  }
}

button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 0;
}

.grow {
  flex: 1;
  justify-content: center;
  align-items: center;
}
