* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: map-get($color, "light-grey");

  @include mediaquery("tablet") {
    font-size: 16px;
  }
}

body {
  padding-top: map-get($element, "header-height");

  @include mediaquery("tablet") {
    padding-top: 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
