* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif, Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 0;

  @include mediaquery("tablet") {
    font-size: 16px;
  }
}

a {
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
