<h1><%= @user.name %></h1>

<p>
  Signed up at: <%= @user.created_at.strftime("%m/%d/%Y %I:%M%p") %>
</p>

<div class="projects">
  <div class="projects__parent">
    <% @posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </div>
</div>
