<section class="intro intro--blue">
  <h1 class="intro__title">17 Button projects</h1>
</section>

<section class="projects">
  <div class="projects__parent">
    <!-- max 8 projects -->
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 122</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3440828/swamp_house_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
    <div class="project">
      <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3489155/sahara_desert_1x.png);">
        <div class="project__overlay">
          <i class="project__icon material-icons">search</i>
        </div>
      </a>
      <div class="project__content">
        <span class="project__name">Project 1</span>
        <span class="project__author">Dennis Betman</span>
        <a href="#" class="project__price">&euro; 12</a>
      </div>
    </div>
  </div>
</section>
