<section class="intro intro--blue intro--cart">
  <h1 class="intro__title">Review your order</h1>
  <h2 class="intro__subtitle">Review your selection below and continue to our secure check out page.</h2>

  <div class="cart">
    <div class="cart__product">
      <div class="product__image" style="background-image: url(https://lh3.googleusercontent.com/rZjHaZ5U-3f-_TT82kSAPHecOAzl9e1p21nGEDCuuoOb_byVyXqH0NTrKdofU_kdwPI=w300);"></div>
      <div class="product__content">
        <div class="product__detail">
          <span class="product__name">Product title</span>
          <span class="product__author">Product creator</span>
          <a href="#" class="button button--grey button--small">Remove</a>
        </div>
        <div class="product__price">&euro;14</div>
      </div>
    </div>
    <div class="cart__product">
      <div class="product__image" style="background-image: url(https://lh3.googleusercontent.com/rZjHaZ5U-3f-_TT82kSAPHecOAzl9e1p21nGEDCuuoOb_byVyXqH0NTrKdofU_kdwPI=w300);"></div>
      <div class="product__content">
        <div class="product__detail">
          <span class="product__name">Product title</span>
          <span class="product__author">Product creator</span>
          <a href="#" class="button button--grey button--small">Remove</a>
        </div>
        <div class="product__price">&euro;45</div>
      </div>
    </div>
    <!-- total box -->
    <div class="cart__product">
      <div class="product__content product__content--total">
        <div class="product__detail">
          <span class="product__name product__name--big">Total price</span>
        </div>
        <div class="product__price product__price--big">&euro;59</div>
      </div>
    </div>
    <!-- checkout -->
    <div class="cart__product cart__product--checkout">
      <a href="#" class="button button--gradient">Checkout</a>
    </div>
  </div>
</section>
