<section class="dashboard">
  <nav class="dashboard__menu">
    <span class="dashboard__username">Hi, Admin</span>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">settings</i>
        <span class="link__text">Settings</span>
      </span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">euro_symbol</i>
        <span class="link__text">Earnings</span>
      </span>
      <span class="link__number">&euro; 150K</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">developer_board</i>
        <span class="link__text">Projects</span>
      </span>
      <span class="link__number">1</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">file_download</i>
        <span class="link__text">Downloads</span>
      </span>
      <span class="link__number">8</span>
    </a>
    <a class="dashboard__link dashboard__link--active" href="#">
      <span class="link__name">
        <i class="material-icons">file_upload</i>
        <span class="link__text">Upload</span>
      </span>
      <span class="link__number">+</span>
    </a>
  </nav>
  <div class="dashboard__content">
    <h3 class="content__title">Upload</h3>
    <h1 class="content__subtitle">Upload your project</h1>
    <div class="content__subject">
      <form class="form content__subject">
        <h2>Name & Description</h2>
        <div class="form__parent form__parent--full">
          <input class="form__input" type="text" name="username" placeholder=" " />
          <span class="form__label">Name</span>
        </div>
        <div class="form__parent form__parent--full">
          <textarea class="form__input form__input--textarea" placeholder=" "></textarea>
          <span class="form__label form__label--textarea">Description</span>
        </div>
        <h2>Files</h2>
        <div class="form__parent">
          <button class="button button--grey">Upload</button>
        </div>
      </form>
    </div>
  </div>
</section>
