<section class="dashboard">
  <nav class="dashboard__menu">
    <span class="dashboard__username">Hi, Admin</span>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">settings</i>
        <span class="link__text">Settings</span>
      </span>
    </a>
    <a class="dashboard__link dashboard__link--active" href="#">
      <span class="link__name">
        <i class="material-icons">euro_symbol</i>
        <span class="link__text">Earnings</span>
      </span>
      <span class="link__number">&euro; 150K</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">developer_board</i>
        <span class="link__text">Projects</span>
      </span>
      <span class="link__number">1</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">file_download</i>
        <span class="link__text">Downloads</span>
      </span>
      <span class="link__number">8</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">file_upload</i>
        <span class="link__text">Upload</span>
      </span>
      <span class="link__number">+</span>
    </a>
  </nav>
  <div class="dashboard__content">
    <h3 class="content__title">Earnings</h3>
    <h1 class="content__subtitle">&euro; 256 on Account</h1>
    <a href="javascript:void(0)" class="button button--ghost content__button">withdrawal</a>
    <div class="content__subject">
      <div class="content__earning">
        <h3 class="earning__title">Current Balance</h3>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; 256</span>
          <span class="earning__label">On account</span>
        </div>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; 653</span>
          <span class="earning__label">Paid out</span>
        </div>
      </div>
      <div class="content__earning content__earning--small">
        <h3 class="earning__title">This month</h3>
        <div class="earning__box">
          <span class="earning__total">&euro; 256</span>
        </div>
        <div class="earning__list">
          <div class="list__group">
            <span class="list__amount">100x</span>
            <span class="list__name">De mega button xld dwadwa dwad awd</span>
            <span class="list__total">&euro; 10K</span>
          </div>
          <div class="list__group">
            <span class="list__amount">100x</span>
            <span class="list__name">De mega button xld dwadwa dwad awd</span>
            <span class="list__total">&euro; 10K</span>
          </div>
        </div>
      </div>
      <div class="content__earning content__earning--small">
        <h3 class="earning__title">All time</h3>
        <div class="earning__box">
          <span class="earning__total">&euro; 909</span>
        </div>
        <div class="earning__list">
          <div class="list__group">
            <span class="list__amount">100x</span>
            <span class="list__name">De mega button xld dwadwa dwad awd</span>
            <span class="list__total">&euro; 10K</span>
          </div>
          <div class="list__group">
            <span class="list__amount">100x</span>
            <span class="list__name">De mega button xld dwadwa dwad awd</span>
            <span class="list__total">&euro; 203</span>
          </div>
          <div class="list__group">
            <span class="list__amount">1100x</span>
            <span class="list__name">De mega button xld dwadwa dwad awd</span>
            <span class="list__total">&euro; 10K</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
