<section class="dashboard">
  <nav class="dashboard__menu">
    <span class="dashboard__username">Hi, Admin</span>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">settings</i>
        <span class="link__text">Settings</span>
      </span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">euro_symbol</i>
        <span class="link__text">Earnings</span>
      </span>
      <span class="link__number">&euro; 150K</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">developer_board</i>
        <span class="link__text">Projects</span>
      </span>
      <span class="link__number">1</span>
    </a>
    <a class="dashboard__link dashboard__link--active" href="#">
      <span class="link__name">
        <i class="material-icons">file_download</i>
        <span class="link__text">Downloads</span>
      </span>
      <span class="link__number">8</span>
    </a>
    <a class="dashboard__link" href="#">
      <span class="link__name">
        <i class="material-icons">file_upload</i>
        <span class="link__text">Upload</span>
      </span>
      <span class="link__number">+</span>
    </a>
  </nav>
  <div class="dashboard__content">
    <h3 class="content__title">Downloads</h3>
    <h1 class="content__subtitle">2 Projects</h1>
    <div class="content__subject">
      <div class="projects">
        <div class="projects__parent">
          <div class="project">
            <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3539568/logan_1x.png);">
              <div class="project__overlay">
                <i class="project__icon material-icons">search</i>
              </div>
            </a>
            <div class="project__content">
              <span class="project__name">Project 1</span>
              <span class="project__author">Dennis Betman</span>
              <a href="#" class="project__price"><i class="material-icons">file_download</i></a>
            </div>
          </div>
          <div class="project">
            <a href="#" class="project__image" style="background-image: url(https://cdn.dribbble.com/users/518045/screenshots/3483488/lonely_castle_1x.png);">
              <div class="project__overlay">
                <i class="project__icon material-icons">search</i>
              </div>
            </a>
            <div class="project__content">
              <span class="project__name">Project 1</span>
              <span class="project__author">Dennis Betman</span>
              <a href="#" class="project__price"><i class="material-icons">file_download</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
