<section id="header">
    <div class="pattern"></div>
    <div class="wrapper wrapperTable">
        <div class="c100 table">
            <div class="middle">
                <h1>Only the best animations on the web</h1>
                <h2>Premium handcrafted web animations, handmade by the best creatives around the world</h2>
            </div>
        </div>
    </div>
</section>

<section id="contentPopular" class="whiteBG">
    <div class="wrapper padding">

        <h3 class="c100">Most popular animations</h3>

        <div class="projects c100N">
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-cc.s3.envato.com/files/171349462/banner.png) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 122</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-cc.s3.envato.com/files/171349462/banner.png) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 122</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-cc.s3.envato.com/files/171349462/banner.png) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 122</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-cc.s3.envato.com/files/171349462/banner.png) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c25 projectMargin">
                <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                  <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
                </div>
                <div class="c100N about">
                    <span class="name">Wayra</span>
                    <span class="pack">20 button style pack</span>
                    <a href="#" class="add"><span class="price">&euro; 122</span> <span class="text">SHOW</span></a>
                </div>
            </div>
            <div class="c100 seeMore">
                <a href="#" class="more roundedButton">See more</a>
            </div>
        </div>
    </div>
</section>

<section id="contentTeam" class="greyBG">
    <div class="wrapper padding">
        <h3 class="c100">Handpicked</h3>
        <h2 class="center">Explore amazing animations curated by our team just for you.</h2>

        <div class="projects c100N">
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
          <div class="c25 projectMargin">
              <div class="project add" style="background:url(https://image-tf.s3.envato.com/files/168406826/1.__large_preview.jpg) center center; background-size:cover;">
                <div class="overlay"><i class="demo-icon icon-icon4"></i></div>
              </div>
              <div class="c100N about">
                  <span class="name">Wayra</span>
                  <span class="pack">20 button style pack</span>
                  <a href="#" class="add"><span class="price">&euro; 12</span> <span class="text">SHOW</span></a>
              </div>
          </div>
        </div>
    </div>
</section>

<section id="contentSell">
    <div class="wrapper wrapperTable">
        <div class="table c50">
            <div class="middle">
              <%= image_tag("sellingImage.png") %>
            </div>
        </div>
        <div class="table c50">
            <div class="middle">
                <h3 class="c100N">Sell animations</h3>
                <h2 class="c100N">We’re looking for more awesome animations. Start selling yours.</h2>
                <a href="#" class="startSelling roundedButton">Start selling</a>
            </div>
        </div>
    </div>
</section>
