<div class="cart__product">
  <div class="product__image" style="background-image: url(https://lh3.googleusercontent.com/rZjHaZ5U-3f-_TT82kSAPHecOAzl9e1p21nGEDCuuoOb_byVyXqH0NTrKdofU_kdwPI=w300);"></div>
  <div class="product__content">
    <div class="product__detail">
      <span class="product__name"><%= post.title %></span>
      <% if post.user_name %>
        <span class="product__author"><%= post.user_name %></span>
      <% end %>

      <%= link_to "Remove", cart_post_path(post), method: :delete , class: "button button--grey button--small" %>
    </div>
    <div class="product__price">&euro; <%= post.price %></div>
  </div>
</div>
