.header {
  @include maxwidth(0);
  height: map-get($element, "header-height");
  background: map-get($color, "brand-primary");
  color: map-get($color, "white");

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link {
  color: map-get($color, "white");
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 25px 0 0;

  &:first-of-type {
    margin: 0 25px;
  }
}
