.header {
  @include maxwidth(0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: map-get($element, "header-height");
  background: map-get($color, "brand-primary");
  color: map-get($color, "white");
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mediaquery("tablet") {
    position: relative;
    height: map-get($element, "header-height") + 20;
  }
}

.header__column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  width: 100%;
  max-width: 164px;
  height: auto;
  margin-right: 25px;
}

.header__link {
  color: map-get($color, "white");
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 0 25px;
  position: relative;

  @include mediaquery("tablet") {
    display: none;
  }

  &--tablet {
    display: none;
    margin: 0 25px 0 0;

    @include mediaquery("tablet") {
      display: block;
    }

    &:first-of-type {
      margin: 0 25px;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}

.icon__label {
  @include linear-gradient-b(45deg, rgba(map-get($color, "brand-secondary"), 1), rgba(map-get($color, "brand-secondary-second"), 1));
  position: absolute;
  top: -7px;
  left: 13px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
