.menu {
  padding: 0;
  background: map-get($color, "brand-primary-second");
  flex-direction: row;
  position: fixed;
  top: 0;
  right: -285px;
  z-index: 9999;
  width: 100%;
  max-width: 285px;
  height: 100%;
  box-shadow: 0 0 10px rgba(map-get($color, "black"), 0.18);
  overflow: auto;
  transition: right 300ms ease;

  @include mediaquery("tablet") {
    @include maxwidth(0);
    position: relative;
    z-index: 1;
    max-width: inherit;
    height: auto;
    display: flex;
    overflow: hidden;
    right: 0;
    transition: none;
    box-shadow: none;
  }

  &--is-active {
    right: 0;
  }
}

.menu__login {
  position: fixed;
  bottom: 0;
  right: -285px;
  height: map-get($element, "header-height");
  width: 100%;
  max-width: 285px;
  background: map-get($color, "brand-primary");
  border-top: 1px solid darken(map-get($color, "brand-primary"), 2%);
  transition: right 300ms ease;

  @include mediaquery("tablet") {
    display: none;
  }

  &--flex {
    display: flex;
  }

  .menu--is-active & {
    right: 0;
  }
}

.menu__link {
  color: hexToRgba(map-get($color, "white"), 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  transition: background 300ms ease, color 300ms ease;
  width: 100%;
  height: map-get($element, "header-height");
  float: left;
  padding: 0 25px;

  @include mediaquery("tablet") {
    width: 90px;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    &--extra,
    &--seller {
      display: none;
    }
  }

  &--is-active,
  &:hover,
  &:active {
    background: map-get($color, "brand-primary-third");
    color: hexToRgba(map-get($color, "white"), 1);
  }

  &:last-of-type {
    margin-bottom: map-get($element, "header-height");

    @include mediaquery("tablet") {
      margin-bottom: 0;
    }
  }

  &--extra {
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: map-get($color, "white");
    font-weight: 700;

    &:last-of-type {
      margin-bottom: 0;
      border-left: 1px solid darken(map-get($color, "brand-primary"), 2%);
    }

    &:hover,
    &:active {
      background: darken(map-get($color, "brand-primary"), 2%);
    }
  }

  &--seller {
    @include linear-gradient-b(45deg, rgba(map-get($color, "brand-secondary"), 1), rgba(map-get($color, "brand-secondary-second"), 1));
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: map-get($color, "white");
    font-weight: 700;
    height: map-get($element, "header-height") * 2;
    margin: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover,
    &:active {
      @include linear-gradient-b(45deg, rgba(map-get($color, "brand-secondary"), 1), rgba(map-get($color, "brand-secondary-second"), 1));
    }

    .button {
      margin-top: 10px;
    }
  }
}

.menu__earnings {
  font-weight: 300;
  font-size: 30px;
}

.menu__icon {
  font-size: 30px;
  padding: 0 15px;

  @include mediaquery("tablet") {
    padding: 0 0 5px;

    &--close {
      display: none;
    }
  }

  &--close {
    position: absolute;
    top: 8px;
    left: 8px;
    color: map-get($color, "white");
    font-size: 24px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: rgba(map-get($color, "black"), 0.50);
  z-index: 9998;
  opacity: 0;
  transition: opacity 300ms, height 0ms 300ms, width 0ms 300ms;

  &--is-active {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 300ms;
  }
}
