<article class="post">
  <h1 class="post__title"><%= post.title %></h1>
  <p class="post__content">
    <%= post.content %>
  </p>
  <span class="post__category"><%= post.categories %></span>
</article>
