<section id="header">
    <div class="pattern"></div>
    <div class="wrapper wrapperTable">
        <div class="c100 table">
            <div class="middle">
                <h1>Only the best animations on the web</h1>
                <h2>Premium handcrafted web animations, handmade by the best creatives around the world</h2>
            </div>
        </div>
    </div>
</section>

<section id="contentPopular" class="whiteBG">
    <div class="wrapper padding">

        <h3 class="c100">Most popular animations</h3>

        <div class="projects c100N">
          <% @posts.each do |post| %>
            <%= render "post", post: post %>
          <% end %>

            <div class="c100 seeMore">
              <a href="#" class="more roundedButton">See more</a>
              <%= link_to "New Post", new_post_path, class: "more roundedButton" %>
            </div>
        </div>
    </div>
</section>

<section id="contentTeam" class="greyBG">
    <div class="wrapper padding">
        <h3 class="c100">Handpicked</h3>
        <h2 class="center">Explore amazing animations curated by our team just for you.</h2>

        <div class="projects c100N">
          <% @posts.each do |post| %>
            <%= render "post", post: post %>
          <% end %>
        </div>
    </div>
</section>

<section id="contentSell">
    <div class="wrapper wrapperTable">
        <div class="table c50">
            <div class="middle">
              <%= image_tag("sellingImage.png") %>
            </div>
        </div>
        <div class="table c50">
            <div class="middle">
                <h3 class="c100N">Sell animations</h3>
                <h2 class="c100N">We’re looking for more awesome animations. Start selling yours.</h2>
                <a href="#" class="startSelling roundedButton">Start selling</a>
            </div>
        </div>
    </div>
</section>
