@mixin orangePinkGradient(){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f35b48+0,e04095+100 */
  background: $orange; /* Old browsers */
  background: -moz-linear-gradient(left, $orange 0%, $pink 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $orange 0%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $orange 0%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f35b48', endColorstr='#e04095',GradientType=1 ); /* IE6-9 */
}

@mixin orangePickGradientTopBottom{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e04095+0,f35b48+100 */
  background: #e04095; /* Old browsers */
  background: -moz-linear-gradient(top,  #e04095 0%, #f35b48 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e04095 0%,#f35b48 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e04095 0%,#f35b48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04095', endColorstr='#f35b48',GradientType=0 ); /* IE6-9 */
}

@mixin transitionOne($value){
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transitionTwo($value, $value2){
  -webkit-transition: $value, $value2;
  -moz-transition: $value, $value2;
  -ms-transition: $value, $value2;
  -o-transition: $value, $value2;
  transition: $value, $value2;
}

@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@mixin addFlex {
  -webkit-display:flex;
  -moz-display:flex;
  -ms-display:flex;
  -o-display:flex;
  display:flex;
}
