$max-width: 1200px;

$breakpoints: (
  "mobile-small":     "(min-width: 360px)",
  "mobile":           "(min-width: 460px)",
  "mobile-large":     "(min-width: 580px)",
  "tablet":           "(min-width: 768px)",
  "desktop":          "(min-width: 1024px)",
  "max-width":        "(min-width: #{$max-width})"
);

$color: (
  "white": #fff,
  "black": #000,
  "green": #4caf50,
  "light-grey": #eceff1,
  "brand-primary": #1e213d,
  "brand-primary-second": #262942,
  "brand-primary-third": #303454,
  "brand-secondary": #f35b48,
  "brand-secondary-second": #e04095,
  "error": #be022f,

  "facebook": #3b5998,
  "twitter": #55acee,
  "instagram1": #fed373,
  "instagram2": #f15245,
  "instagram3": #d92e7f,
  "instagram4": #9b36b7,
  "instagram5": #515ecf,
);

$element: (
  "header-height": 59px,
  "project-spacing": 10px,
);
