<section id="footer" class="darkBlueBG">
    <div class="wrapper padding">
        <div class="c25">
            <%= image_tag('logo.png') %>
            <p class="c100N">CSSmarket is a marketplace for designers and developers by designers and developers. All handcrafted by the best people around the world.</p>
        </div>
        <div class="c25">
            <h3 class="c100N">About</h3>
            <ul class="c100N">
                <li>
                    <a href="#">About</a>
                    <a href="#">Start selling</a>
                    <a href="#">Privacy</a>
                    <a href="#">Disclaimer</a>
                </li>
            </ul>
        </div>
        <div class="c50">
            <h3 class="c100N">Categories</h3>
            <ul class="c50N big">
                <li>
                    <a href="#">Button</a>
                    <a href="#">Menus</a>
                    <a href="#">Forms</a>
                    <a href="#">Top navs</a>
                    <a href="#">Side navs</a>
                </li>
            </ul>
            <ul class="c50N big">
                <li>
                    <a href="#">Tooltips</a>
                    <a href="#">Calenders</a>
                    <a href="#">Tabs</a>
                    <a href="#">Loaders</a>
                    <a href="#">Icons</a>
                </li>
            </ul>
        </div>
    </div>
</section>
