<section id="headerTop">
    <div class="wrapper">
        <div class="c50">
            <a href="/" class="logo left" title="cssmarket"><%= image_tag('logo.png') %></a>
            <a href="#" class="topMenu left">About</a>
            <a href="#" class="topMenu left">Sell</a>
        </div>
        <div class="c50">
            <a href="#" class="cart right">Cart (0)</a>
            <a href="/cssmarket/user/logout.php" class="user right">Signout</a>
            <a href="#" class="user right">Username</a>
            <a href="#" class="login right">Login / Register</a>
        </div>
    </div>
</section>

<section id="headerBottom">
    <div class="wrapper">
        <menu class="c100">
            <ul>
                <li>
                    <a href="#">
                        <span class="top"><i class="demo-icon icon-icon4"></i></span>
                        <span class="bottom">Menus</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="active">
                        <span class="top"><i class="demo-icon icon-icon3"></i></span>
                        <span class="bottom">Buttons</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="top"><i class="demo-icon icon-icon1-2"></i></span>
                        <span class="bottom">Forms</span>
                    </a>
                </li>
            </ul>
        </menu>
    </div>
</section>
