<header class="header">
  <div class="header__column">
    <%= image_tag("logo.png") %>
    <a href="#" class="header__link">About</a>
    <a href="#" class="header__link">Sell</a>
  </div>
  <div class="header__column">
    <a href="#" class="header__link">Login / Registar</a>
    <a href="#" class="button button--gradient">cart (1)</a>
  </div>
</header>

<nav class="menu">
  <a class="menu__link" href="#">
    <i class="menu__icon material-icons">track_changes</i>
    <span class="menu__label">Buttons</span>
  </a>
  <a class="menu__link menu__link--is-active" href="#">
    <i class="menu__icon material-icons">fingerprint</i>
    <span class="menu__label">Menus</span>
  </a>
  <a class="menu__link" href="#">
    <i class="menu__icon material-icons">visibility</i>
    <span class="menu__label">Forms</span>
  </a>
</nav>
